@import url("./CDN/poppinsfont.css");

.navbar {
  background-color: #343a40 !important;
  border-bottom: none !important;
  box-shadow: none !important;
}

.navbar .navbar-brand {
  color: #ffffff !important;
  font-weight: bold;
}

.navbar .navbar-toggler {
  border-color: #ffffff;
}

.navbar .navbar-toggler-icon {
  background-color: #ffffff;
}

.navbar-nav .nav-item .nav-link {
  color: #ffffff !important;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: #495057;
  border-radius: 5px;
}

.navbar .dropdown-menu {
  background-color: #343a40;
  border: 1px solid #495057;
}

.navbar .dropdown-item {
  color: #ffffff !important;
}

.navbar .dropdown-item:hover {
  background-color: #495057;
  color: #ffffff !important;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #ffffff !important;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: #495057;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.form-d-flex-search {
  margin-left: auto;
  margin-right: 0;
}

@media (max-width: 991px) {
  .navbar-collapse {
    background-color: #343a40;
  }
}
