@import url("./CDN/bootstrap.min.css");
@import url("./navbar.css");
@import url("./botones.css");
@import url("./modal.css");

body {
  background: linear-gradient(
    135deg,
    rgba(52, 58, 64, 0.9) 0%,
    rgba(0, 0, 0, 0.8) 60%,
    rgba(0, 0, 0, 0.6) 100%
  );
  color: white;
  height: 100vh;
  font-family: "Arial", sans-serif;
  background-size: 100vh;
  animation: fondoanimado 10s ease infinite;
}

@keyframes fondoanimado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#rickyandmorty {
  display: flex;
  width: 70%;
  margin-left: 15%;
  justify-content: center;
  align-items: center;
  filter: brightness(150%);
  height: auto;
  mix-blend-mode: multiply;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

.result {
  background-color: rgba(52, 58, 64, 0.8);
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  flex-basis: calc(25% - 40px);
  margin: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  transform: scale(1.05);
}

.result:hover {
  background-color: rgba(63, 69, 76, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.10);
}

.result img {
  width: 300px;
  height: 300px;
}

.result p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ddd;
}

/* Uso re contra simple de media query */
@media (min-width: 768px) {
  .boton {
    font-size: 16px;
    padding: 12px 20px;
  }
}

@media (min-width: 1024px) {
  .boton {
    font-size: 18px;
    padding: 15px 25px;
  }
}